.item-container {
    border-radius: 1vw;
    background-color:  hsla(0, 0%, 0%, 100%);
    /* hsla(0, 0%, 100%, 25%) */
    color: white;
    padding: 10px;
    max-width: 740px;
    display: inline-flex;
    justify-content: space-evenly;
    transition: 0.5s;
    /* transition-delay: 1s; */
}

.item-space {
    margin-bottom: 60px;
    cursor: pointer;
}

.img-column {
    width: 50%;
}

.item-title {
    color: rgb(97, 219, 251);
    font-size: 32px;
    font-family: 'Golos Text', sans-serif;
}

.item-image {
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 741px) {
    .item-image {
      /* width: 200px;
      height: auto; */
      height: 250px;
      width: 40%;
      /* width: 75% */
    }
}

@media screen and (max-width: 740px) {
    .item-image {
        width: 30%;
        object-fit: contain;
        /* width: 100%; */
        /* height: fit-content; */
        /* height: auto; */
    }
}