.item-container {
    border-radius: 1vw;
    background-color:  hsla(0, 0%, 0%, 100%);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: 0.5s;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.item-space {
    margin-bottom: 60px;
    cursor: pointer;
}

.img-column {
    flex: 1;
}

.item-title {
    color: rgb(97, 219, 251);
    font-family: 'Golos Text', sans-serif;
}

.item-text {
    font-size: 24px;
    font-family: 'Golos Text', sans-serif;
    background-color: hsla(0, 0%, 0%, 0%);
}

.item-image {
    margin-left: 10px;
    margin-right: 10px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}

@media screen and (min-width: 961px) {
    .item-image {
      height: 250px;
      object-fit: contain;
    }
    .item-container {
        min-width: 900px;
        border-radius: 20px;
    }

    .item-title {
        font-size: 80px;
    }
}

@media screen and (max-width: 960px) {
    .item-image {
        width: 35%;
        height: 45vh;
        object-fit: contain;
    }

    .item-container {
        border-radius: 2vw;
    }

    .item-title {
        font-size: 10vw;
    }
}

@keyframes subtleColorChange {
    0% {
        color: rgb(97, 219, 251);
    }
    50% {
        color: yellow;
    }
    100% {
        color: rgb(97, 219, 251);
    }
  }