.item-container {
    border-radius: 1vw;
    background-color:  hsla(0, 0%, 0%, 100%);
    /* hsla(0, 0%, 100%, 25%) */
    color: white;
    margin-top: 30px;
    padding: 10px;
    max-width: 740px;
    display: inline-flex;
    justify-content: space-evenly;
    transition: 0.5s;
    /* transition-delay: 1s; */
}

.item-title {
    font-size: 32px;
    font-family: 'Golos Text', sans-serif;
}

@media screen and (min-width: 741px) {
    .item-image {
      width: 200px;
      height: auto;
    }
}

@media screen and (max-width: 740px) {
    .item-image {
        width: 40%;
        /* height: auto; */
        object-fit: contain;
    }
}